* {
    box-sizing: border-box;
    overflow: break-word;
    word-break: break-all;

}

ul {
    list-style: none;
    /*padding: 0 */
}

.octodex {
    display: inline-block;

}

.octocat {
    display: inline-block;
    width: 30%
}

.octocat > a{
    display: inline-block;
    border: solid 1 px #cacaca;
    border-radius: 3px;
    position: relative;
    height: 100%;
    width: 100%;
}

.octocat img {
    max-width: 100%;
    border-style: solid;
    border-color: gainsboro;
    border-width: thin;
}

.octocat img::a{
    content: "";
    height: 0;
    width: 0;
    border-top: solid 10px;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    position: absolute;
    top: 100%;
    right: 1%;
}




/* img[src*="sarito"]{
    width: 300px;
    border-style: solid;
    border-color:gainsboro;
    border-width: thin;
    position: absolute;
    top:70px

}

img[src*=topgun]{
    width: 300px;
    border-style: solid;
    border-color:gainsboro;
    border-width: thin;
    position:absolute;
    left:320px;
    
}

img[src*="carlostocat"]{
    width: 300px;
    border-style: solid;
    border-color:gainsboro;
    border-width: thin;
    position: absolute;
    left: 640px;
    bottom: 379px;
}
 */

/* img[src*='JohnCreek'] {
    position: relative;
    left: 70px;

    float: right;
    padding-left: 3px;
}

img[src*='leereilly'] {
    position: relative;
    left: 60px;

    float: right;
    padding-left: 3px;
}

img[src*='tonyjaramillo'] {
    position: relative;
    left: 60px;

    float: right;
    padding-left: 3px;
}

img[src*='jeejkang'] {
    position: relative;
    left: 60px;

    float: right;

} */



.authors img {
    width: 20px;
    


}

.authors {
    position: relative;
    bottom: 20px;

}

.image-number::before {
content: '#';
}

.image-footer {
    max-width: 100%;
    font-size: 12px;
    border-bottom: solid 1px #cacaca;
    padding-top: 15px;
    padding-bottom: 15px; 
    position: relative; 
}

.image-number{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:0;
}

.image-caption {
    /* float: right; */
    /* margin-left: 15px; */
    text-align: right;

}

.octocat > a{
    display: inline-block;
    height: 100%;
    width: 100%;

}

/* .octocat >a::after{
    content: "";
    height: 0;
    width: 0;
    border-top: solid 10px;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    position: absolute;
    top: 100%;
    right: 1%;
    makes arrow
} */

.authors >li >a {
    display: inline-block;
    width: 30%;
}

.authors{
    display: inline-block;
}

.authors img {
    vertical-align: middle;
}

