*{
    box-sizing: border-box;
    overflow: break-word;  
    word-break: break-all;
    
}
ul{
    list-style: none;
}

.octodex{
    display: inline-block;
    
}

.octocat{
display: inline-block;
width: 20%
   
}

.octocat img{
    max-width:100% ;
    border-style: solid;
    border-color:gainsboro;
    border-width: thin;
}
    
    


/* img[src*="sarito"]{
    width: 300px;
    border-style: solid;
    border-color:gainsboro;
    border-width: thin;
    position: absolute;
    top:70px

}

img[src*=topgun]{
    width: 300px;
    border-style: solid;
    border-color:gainsboro;
    border-width: thin;
    position:absolute;
    left:320px;
    
}

img[src*="carlostocat"]{
    width: 300px;
    border-style: solid;
    border-color:gainsboro;
    border-width: thin;
    position: absolute;
    left: 640px;
    bottom: 379px;
}
 */

 img[src*='JohnCreek']{
    position: relative;
    left: 70px;
    
    float: right;
    padding-left: 3px;
}

img[src*='leereilly']{
    position: relative;
    left: 60px;
    
    float: right;
    padding-left: 3px;
}

img[src*='tonyjaramillo']{
    position: relative;
    left: 60px;
    
    float: right;
    padding-left: 3px;
}

img[src*='jeejkang']{
    position: relative;
    left:60px;
    
    float: right;
    
}



.authors img{
    width: 20px;
    
    
}
.authors{
    position: relative;
    bottom: 20px;
    
}
.image-number{
    
   
    
}

.image-footer {
    display: inline-block;
    max-width:100% ;
    font-size: 12px;
    border-bottom-style: solid ;
    border-bottom-width:thin ;
    border-bottom-color:gainsboro ;
    
}

.image-caption{
    float: right;
    margin-left: 15px;
    
}
    